*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html{
    font-size: 62.5%;
}
header{
    width: 100%;
    height: 7rem;
    background-color: #6EACDA;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;
}
header img{
    width: 5rem;
    height: 5rem;
}
h1{
    color: #021526;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    left: 1rem;
    display: none;
}
main{
    width: 100%;
    min-height: 55rem;
    background-image:linear-gradient(#6EACDA, #03346e, #021526);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
main section{
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
main section textarea{
    width: 90%;
    max-width: 35rem;
    font-size: 1.8rem;
    border-radius: 16px;
    resize: none;
    outline: none;
    border: none;
    text-align: center;
}
.seccion__Desencriptar{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur (2px);
    width: 92%;
    max-width: 35rem;
    padding: 1rem 0;
    border-radius: 16px;
}
.imagen__Desencriptar{
    display: none;
}
#textarea__Entrada{
    min-height: 30rem;
    background-color: transparent;
    color: #021526;
    font-weight: 400;
    font-size: 3rem;
}
#textarea__Salida{
    min-height: 10rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur (1px);
    color: #021526;
    font-weight: 300;
    font-size: 1.8rem;
}
#textarea__Entrada::placeholder{
    color: #021526;
    font-weight: 400;
    font-size: 3rem;
}
#textarea__Salida::placeholder{
    color: #021526;
    font-weight: 300;
    font-size: 1.8rem;
}
button{
    width: 80vw;
    max-width: 25rem;
    height: 3rem;
    border: #021526;
    border-radius: 10px;
}
.caja__Botones{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.boton__Encriptar{
    background-color: #021526;
    color: white;
}
.boton__Copiar{
    display: none;
}
p{
    color: #E2E2B6;
    font-size: 1.4rem;
}
footer{
    width: 100%;
    height: 7rem;
    background-color: #021526;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
footer span{
    font-size: 1.8rem;
    font-weight: 300;
    color: #E2E2B6;
}
footer div{
    display: flex;
    gap: .5rem;
}
div img{
    width: 3rem;
    height: 3rem;   
}
@media(min-width: 600px){
    h1{
        display: block;
    }
    .caja__Botones{
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
    }
    div button{
        width: 42.5vw;
    }
    main section textarea{
        max-width: 65rem;
    }
    main{
        gap: 1rem;
    }
    .seccion__Desencriptar{
        max-width: 65rem;
    }
    .imagen__Desencriptar{
        display: none;
    }
}
@media(min-width: 900px){
    main{
        flex-flow: row nowrap;
        gap: 2rem;
    }
    .seccion__Desencriptar{
        width: 30%;
        max-width: 25rem;
        margin-right: 2rem;
        min-height: 80vh;
    }
    #textarea__Salida{
        min-height: 75vh;
    }
    .imagen__Desencriptar{
        width: 30rem;
        height: 30rem;
        position: absolute;
        display: block;
    }
    .seccion__Encriptar{
        max-width: 55rem;
        margin-left: 2rem;
        height: 80vh;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
    }
    #textarea__Entrada{
        min-height: 40rem;
        text-align: start;
    }
    p{
        position: relative;
        right: 14rem;
    }
    button{
        width: 20rem;
        height: 4rem;
    }
    .boton__Copiar{
        width: 90%;
        display: none;
    }
}
@media(min-width: 1242px){
    header{
        height: 8vh;
        padding-top: 1rem;
    }
    main{
        height: 80vh;
        justify-content: end;
        gap: 2rem;
        padding-right: 5%;
        padding-bottom: 2rem;
        padding-top: 3rem;
    }
    h1{
        font-size: 2.5rem;
        padding-left: 1rem;
    }
    .seccion__Encriptar{
        max-width: 90rem;
    }
    .seccion__Desencriptar{
        max-width: 30rem;
    }
    p{
        right: 20rem
    }
    footer{
        height: 12vh;
        flex-flow: row nowrap;
        padding-top: 2rem;
    }
}