*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html{
    font-size: 62.5%;
}
header{
    width: 100%;
    height: 8vh;
    background-color: #6EACDA;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;
}
header img{
    width: 5rem;
    height: 5rem;
}
h1{
    color: black;
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    left: 1rem;
    display: none;
}

/* ----------------------------------------------------------------------*/

main{
    width: 100%;
    height: 80vh;
    background-image:linear-gradient(#6EACDA, #03346e, #021526);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
main section{
    width: 95%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-radius: 16px;
    padding: 2%;
}
main section textarea{
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    border-radius: 16px;
    resize: none;
    outline: none;
    border: none;
    text-align: center;
}
.seccion__Entrada{
    height: 70%;
}
.seccion__Salida{
    height: 30%;
    background: rgba(255, 255, 255, 0.2);
    justify-content: space-between;
}
#textarea__Entrada{
    background-color: transparent;
    color: #021526;
    font-weight: 400;
    font-size: 3rem;
}
#textarea__Salida{
    min-height: 10rem;
    background: rgba(255, 255, 255, 0.2);
    color: #021526;
    font-weight: 300;
    font-size: 1.8rem;
}
.imagen__Desencriptar{
    display: none;
}

/*-------------------------------------------------------------------*/


#textarea__Entrada::placeholder{
    color: #021526;
    font-weight: 400;
    font-size: 3rem;
}
#textarea__Salida::placeholder{
    color: #021526;
    font-weight: 300;
    font-size: 1.8rem;
}
button{
    width: 80vw;
    max-width: 25rem;
    height: 4rem;
    border: #021526;
    border-radius: 10px;
}
.caja__Botones{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.boton__Encriptar{
    background-color: #021526;
    color: white;
}
.boton__Copiar{
    display: none;
}
p{
    color: #E2E2B6;
    font-size: 1.4rem;
}
footer{
    width: 100%;
    height: 12vh;
    background-color: #021526;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
footer span{
    font-size: 1.8rem;
    font-weight: 300;
    color: #E2E2B6;
}
footer div{
    display: flex;
    gap: .5rem;
}
div img{
    width: 3rem;
    height: 3rem;   
}
@media(min-width: 600px){
    h1{
        display: block;
    }
    .seccion__Entrada{
        height: 100%;
    }
    .seccion__Salida{
        height: 100%;
    }
    .caja__Botones{
        flex-flow: row wrap;
        gap: 2rem;
    }
    main section textarea{
        max-width: 65rem;
    }
    main{
        gap: 1rem;
    }
    main section{
        max-width: 65rem;
    }
}
@media(min-width: 900px){
    header{
        padding-top: 1rem;
    }
    h1{
        font-size: 2.5rem;
    }
    main{
        flex-flow: row nowrap;
        gap: 2rem;
        padding-left: 15%;
        padding-right: 5%;
        padding-top: 2%;
    }
    main section{
        height: 55rem;
        padding: 1%;
    }
    .seccion__Entrada{
        max-width: 68rem;
    }
    .seccion__Salida{
        width: 30%;
        min-width: 23rem;
        max-width: 30rem;
    }
    #textarea__Salida{
        position: relative;
    }
    .imagen__Desencriptar{
        width: 100%;
        max-width: 26rem;
        display: block;
        position: absolute;
        top: 20rem;
    }
    #textarea__Entrada{
        text-align: left;
    }
    #textarea__Entrada::placeholder{
        text-align: left;
    }
    .caja__Botones{
        flex-flow: row nowrap;
    }
    button:hover{
        color: black;
        background-color: #6EACDA;
    }
    .boton__Copiar{
        width: 100%;
        max-width: 25rem;
    }
    p{
        position: relative;
        right: 14rem;
    }
    footer{
        flex-flow: row nowrap;
        padding-top: 2rem;
    }
}